
/* Add box-sizing specifications to use border-box – set within HTML element, and inherit for all child elements */
/* This specification allows padding / border to be included in element width */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 95vh;
  margin-top: 1rem;
}

#activeUserInfo, #twiddlerContent, #trendingHashtags {
  grid-row: 1 / span 2;
}

#twiddlerContent {
  border: 1px solid lightgray;
  border-radius: 5px;
}

#twiddlerContent .sectionHeader {
  border-bottom: 1px solid lightgray;
}

.sectionHeader {
  padding: 1em;
  font-weight: 700;
}

.tweetContainer {
  padding: 1rem;
}

.tweetElement {
  border: 1px solid lightskyblue;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.tweetElementUser {
  color: lightskyblue;
  font-weight: 700;
  display: block;
}

.tweetElementUser:hover {
  text-decoration: underline;
}

.tweetElementMessage, .tweetElementTimestamp  {
  margin-top: 0.5rem;
}

.tweetElementTimestamp {
  color: gray;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}