
/* Add box-sizing specifications to use border-box – set within HTML element, and inherit for all child elements */
/* This specification allows padding / border to be included in element width */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

  .container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100px;
    min-height: 100vh;
  }

  #activeUserInfo, #twiddlerContent, #trendingHashtags {
    grid-row: 1 / span 2;
  }

  #twiddlerContent {
    border: 1px solid lightgray;
  }

