
/* Add box-sizing specifications to use border-box – set within HTML element, and inherit for all child elements */
/* This specification allows padding / border to be included in element width */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  font-size: 1.5vw;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

button:focus, input[type="button"]:focus {
  outline: none;
}

#newTweetListener {
  display: none;
}

/* Content container in grid format */
/* Grid format: 2 columns: (1) Twiddler content, (2) User / Hashtag info  */
.container {
  display: grid;
  grid-template-columns: 55% 30%;
  grid-auto-rows: 96%;
  grid-template-areas: 'Twiddler userHashtag';
  margin: 1rem auto;
  justify-content: space-evenly;
  overflow: hidden;
  align-content: space-around;
  max-height: 100vh;
  padding: 10px;
}

/* Specify Twiddler Content grid-area and overflow properties */
#twiddlerContent {
  grid-area: Twiddler;
  overflow: hidden;
}

/* Specify activeUserInfo grid-area and overflow properties */
#activeUserInfo {
  height: 95vh;
  grid-area: userHashtag;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

/* Format the header of each column, which is text */
/* twiddlerContent sectionHead receives an extra border on the bottom */
.sectionHeader {
  padding: 1em;
  font-weight: 700;
  font-size: 85%;
}

/* Format the Twiddler Content header */
#twiddlerContent .sectionHeader {
  border-bottom: 1px solid lightgray;
  font-size: 90%;
}

/* Style the Back to Home button */
#backToHome {
  display: none;                /*Default display of none: display is triggered by user */
  border: 1px solid green;
  background: green;
  border-radius: 5px;
  padding: .3rem 1rem;
  margin-left: .5rem;
  color: white;
  font-size: 65%;
  text-transform: uppercase;
}

/* Style the Back to Home button when it is hovered*/
#backToHome:hover {
  background: lightgreen;
  border:1px solid lightgreen;
  cursor: pointer;
}

/* Style the Pause / Resume tweets button*/
#controlTweetsBtn {
  float: right;
  background: lightblue;
  padding: .3rem 1rem;
  border: 1px solid #A6B8DB;
  border-radius: 5px;
  color: white;
  font-size: 65%;
  text-transform: uppercase;
}

/* Style the Pause / Resume tweets button when it is hovered */
#controlTweetsBtn:hover {
  background-color: rgb(111, 200, 230);
  border: 1px solid rgb(163, 163, 250);
  cursor: pointer;
}

/* These parameters define the content containers of Active Users and Popular Tags */
.userInfo {
  display: flex;
  flex-shrink: 1;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color:	#F9F7F7;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1px;
  overflow: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.userInfo::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

/* This prevents the Active Users section from becoming too small when window size changes */
.user {
  min-height: 12em;
}

/* Style the Active User and Popular Tags unordered lists */
.supplementaryList {
  background-color:	#F9F7F7;
  padding: 0 10px 0 10px;
  justify-content: space-around;
  border-radius: 5px;
  font-size: 85%;
  flex-grow: 1;
  flex-shrink: 1;
}

/* Style the Active User and Popular Tags list elements */
.supplementaryElement {
  list-style: none;
  width: 100%;
}

/* Within Active Users, total tweets are shown. This is their styling */
#totalTweetsDiv {
  width: 100%;
  font-size: 80%;
  padding: 0 .5rem;
  padding-bottom: 1.25em;
  margin-top: 5px;
}

/* Style the button which users can press to display user / tag tweets */
.userButton {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 7px;
  background-color: white;
  width: 100%;
  font-size: 80%;
}

/* Style the button when it is hovered which users can press to display user / tag tweets */
.userButton:hover {
  background-color: #F4F9FF;
  border: 1px solid #A6B8DB;
  cursor: pointer;
}

/* Style the button which users can press to display user / tag tweets when it is pressed */
.userButtonActive {
  background-color: #F4F9FF;
  border: 1px solid #A6B8DB;
}

/*Style the username / tag within the list element of Active Users / Popular Tags  */
.supplementaryElementID {
  color: lightskyblue;
  display: inline-flex;
  float: left;
}

/*Style the number of tweets within the list element of Active Users / Popular Tags  */
.supplementaryElementTweets {
  display: inline-flex;
  color: gray;
  float: right;
  font-weight: 300;
}

/* Style the the twiddlerContent container */
#twiddlerContent {
  border: 1px solid lightgray;
  border-radius: 5px;
}

/* Style the tweetContainer */
.tweetContainer {
  padding: 1rem;
  padding-bottom: 75px;
  max-height: 95vh;
  overflow: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.tweetContainer::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

/* Style the tweetElementContainer */
.tweetElement {
  border: 1px solid lightskyblue;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: .5rem;
}

/* Style the tweetElementUser */
.tweetElementUser {
  color: lightskyblue;
  font-weight: 700;
  display: inline-block;
  background-color: none;
  border: none;
  padding: 0;
  font-size:85%;
}

/* Style the tweetElementUser when it is hovered */
.tweetElementUser:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Style the tweetTag when it is present */
.tweetTag {
  font-size: 100%;
}

/* Format the tweetElementMessage and tweetElementTimestamp */
.tweetElementMessage  {
  margin-top: 0.5rem;
  font-size: 75%;
}

/* Style the tweet timestamp */
.tweetElementTimestamp {
  color: gray;
  font-family: sans-serif;
  font-size: 65%;
  font-weight: 300;
  margin-top: 0.5rem;
}

/* Media Queries: removes activeUserInfo column and resizes Twiddler content / font-size */
@media (max-width: 800px) {
  .container {
    grid-template-areas: 'Twiddler';
    grid-template-columns: 85%;
    font-size: 2.25vw;
  }

  #activeUserInfo {
    display: none;
  }
}

/* Style the Tweet Form */
#userTweetForm {
  width: 90%;
  margin: 0 auto;
  background: #F9F7F7;
  padding: 2vh;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Style the Input Container for the Form */
.inputContainer {
  height: 5vh;
  font-size: 65%;
  line-height: 4vh;
}

/* Style the input label text */
label {
  font-size: 105%;
}

/* Style the input element */
input {
  float: right;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 4vh;
  margin-left: 5px;
  width: 60%;
}

/* Style the input element */
input:focus {
  outline: none;
}

/* Style the Tweet Form Submit Button */
#userFormSubmit {
  float: right;
  background: lightblue;
  padding: .3rem 1rem;
  border: 1px solid #A6B8DB;
  border-radius: 5px;
  color: white;
  font-size: 65%;
  text-transform: uppercase;
}

/* Style the Tweet Form Submit Button when Hovered */
#userFormSubmit:hover {
  background-color: rgb(111, 200, 230);
  border: 1px solid rgb(163, 163, 250);
  cursor: pointer;
}